<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입시 래버리지</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2.6">
    
    {% block extra_css %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <a class="site-name" href="/">입시 래버리지</a>

        <div class="nav-buttons">
            <a href="/high1" class="nav-btn">고1</a>
            <a href="/high2" class="nav-btn">고2</a>
            <a href="/high3" class="nav-btn">고3/N수</a>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>